
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<div class="row">
    <div class="col-md-3">
        <div class="site-title">
            <a href="/"><h1>POSTS</h1></a>
            <p>A POST Website</p>
        </div>

    <div class="col-md-3">
        <li><a href="/">Home</a></li>
        </div>

    <div class="col-md-3">
        <li><a href="/">Allpost</a></li>
    </div>
    <div class="col-md-3">
        <li><a href="/posts/add"> New</a></li>
        </div>

  </div>



