	<!--1.header-->
    <div id="header">
        <div class="logo">
            <a href="#">
                <span><img src="./images/home.png" alt=""/>
                    My Home Pages
                </span>
            </a>
        </div>
        <div class="search">
            
            <form>
                <a href="#"><img src="./images/search.png" alt=""/></a>
                <input type="text" value="SEARCH..." class="text"/>
                <input type="submit" class="bt" value=""/>
            </form>
        </div>
    </div>
      <!--2.nav-->
      <div id="nav">
        <a href="/index">Home</a> |
        <a href="/hobits">About me</a> |
        <a href="/views">Projects</a> |
        <a href="/communication">Contact Me</a> 
        
    </div>
    
    <div id="big-box">